body {
	font-family: 'VT323', monospace;
	color: rgb(86,86,86);
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

#gameScreen {
	display: flex;
	align-items: center;
	justify-content: center
}

#gameTargets {
	border: 3px solid black;
	height: 600px;
	width: 200px;
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-between;
}

.scoreBoards {
	background-color: rgb(230,211,173);
	border: 3px solid black;
	height: 600px;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}

#timeDisplay {
	display: inline
}

#timeDecimals {
	font-size: 40px;
}

.scoreData {
	font-size: 120px;
}

.scoreText {
	font-size: 35px;
}

canvas {
	border: 3px solid black;
	background-color: rgb(72,72,72);
}